<section class="hidden-zone grid tmp-row-2">
    <div class="grid tmp-col-2">
        <div class="grid col-responsive">
            <div class="box">
                <header>
                    <h5 class="text-zone">CURRENT TIMEZONE</h5>
                    <h1 class="title-zone">Europe/London</h1>
                </header>
            </div>
        </div>
        <div class="grid col-responsive">
            <div class="box">
                <header>
                    <h5 class="text-zone">DAY OF THE YEAR</h5>
                    <h1 class="title-zone">5</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="grid tmp-col-2">
        <div class="grid col-responsive">
            <div class="box">
                <header>
                    <h5 class="text-zone">DAY OF THE WEEK</h5>
                    <h1 class="title-zone">215</h1>
                </header>
            </div>
        </div>
        <div class="grid col-responsive">
            <div class="box">
                <header>
                    <h5 class="text-zone">WEEK NUMBER</h5>
                    <h1 class="title-zone">30</h1>
                </header>
            </div>
        </div>
    </div>
</section>