<section class="container">
    <div class="left-side">
        <!-- <div class="content"> -->
            <div class="daily-text">
                <p>
                "The science of operations, as derived from mathematics more specialy,
                is a science of itself and has its own abstract truth and value."
                </p>
                <h4>Ada Lovelace</h4>
            </div>

            <div class="area-clock">
                <div class="mode">
                    <span class="icon-mode"></span>
                    <p>
                        GOOD MORNING, IT'S CURRENTLY
                    </p>
                </div>
                <h1 id="time" class="special-text">11:37  <span>BST</span> </h1>
                <h3 id="local">IN LONDON, UK</h3>
            </div>
        <!-- </div> -->
    </div>
    <div class="right-side">
        <a href="#" class="button-more" onclick="">
            MORE <span class="icon-arrow"></span>
        </a>
    </div>
</section>